#expense-list {
  .table th {
    border-top: none;
  }

  table.table tbody tr {
    cursor: pointer;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}