$logo-dim: 64px;
$text-color: #aeaeae;
$hover-text-color: #222222;

@mixin navbarLinksHoverAndTransition() {
  color: $text-color;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  &:hover {
    color: $hover-text-color;
    text-decoration: none;
  }
}

#app-header {
  position: fixed;
  top: 0;
  width: 100%;
  h4 {
    cursor: pointer;
    @include navbarLinksHoverAndTransition();
  }

  .header-logo {
    width: $logo-dim;
    height: $logo-dim;
  }

  nav {
    a {
      @include navbarLinksHoverAndTransition();
    }
  }
}